table, th, td {
    padding: 0;
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px 10px;
    background-color: #DEEFF1;
}


p{
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 110%;
    text-align: center;
}

body {
    background-color: #DEEFF1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    object-fit: cover
}
