table, th, td {
    padding: 30px;
    text-align: center;
    border:1px solid #1B8B8E;
    border-collapse: separate;
    border-spacing: 15px 50px;
}

p{
    color: darkslategray;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 200%;
    text-align: center;
}

.p2{
    float: left;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 150%;
    text-align: left;
}

.box{
    padding: 20px;
    width: 500px;
    margin: 111px;
    background-color: white;
    height: 500px;
}
.boxScris{
    padding: 20px;
    width: 500px;
    margin: 100px;
    background-color: #DEEFF1;
    height: 500px;
}



option{
    font-family: "Lucida Console", "Courier New", monospace;
    color: black;
    text-align: center;
    font-size: 15px;
}


