table, th, td {
    padding: 0;
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px 10px;
    background-color: #1B8B8E;
}


p{
    color: darkslategray;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 200%;
    text-align: center;
}

.p2{
    float: left;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 150%;
    text-align: left;
}

.box{
    padding: 20px;
    width: 10px;
    margin: 111px;
    background-color: #1B8B8E;
    height: 10px;
    box-sizing: border-box;

}
.boxScris{
    padding: 20px;
    width: 500px;
    margin: 100px;
    height: 500px;
}



option{
    font-family: "Lucida Console", "Courier New", monospace;
    color: black;
    text-align: center;
    font-size: 15px;
}

body {
    background-color: #1B8B8E;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    object-fit: cover
}

.header
{
    color: darkslategray;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 200%;
    text-align: center;
}


