body {
    background-color: #DEEFF1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    object-fit: cover
}

table, th, td {
    padding: 0;
    text-align: center;
    border:1px solid #DEEFF1;
    border-collapse: separate;
    border-spacing: 15px 10px;
    background-color: white;
}

p{
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 110%;
    text-align: center;
}

.p2{
    float: left;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 150%;
    text-align: left;
}



.shopping-cart {
    margin: 40px;
}

.product-grid {
    margin: 40px;
}

.shopping-cart table {
    padding: 0;
    text-align: center;
    border:1px solid #DEEFF1;
    border-collapse: separate;
    border-spacing: 15px 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 100%;
    background-color: #F0F0F0;
}

.shopping-cart table td {
    padding: 0;
    text-align: center;
    border:1px solid #DEEFF1;
    border-collapse: separate;
    border-spacing: 15px 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #FFFFFF;
}

.txt-heading {

    font-family: "Lucida Console", "Courier New", monospace;
    float: left;
    display: block;
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
    font-size: 25px;

    color: #211a1a;
    border-bottom: 1px solid #E0E0E0;
    overflow: auto;
}

.btnEmpty {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: blue;
    border:blue 1px solid;
    padding: 5px 10px;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0;
}

.btnAddAction {
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 5px 10px;
    margin-left: 5px;
    background-color: deeppink;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

.product-grid .txt-heading {
    margin-bottom: 18px;
}

.product-item {
    font-family: "Lucida Console", "Courier New", monospace;
    float: left;
    background: #ffffff;
    margin: 30px 30px 0 0;
    border: #E0E0E0 2px solid;
}

.product-image {
    height: 155px;
    width: 250px;
    background-color: #FFF;
}

.clear-float {
    clear: both;
}

.demo-input-box {
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 2px;
    border: #CCC 1px solid;
    padding: 2px 1px;
}

.tbl-cart {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.9em;
}

.tbl-cart th {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: normal;
}

.product-title {
    font-family: "Lucida Console", "Courier New", monospace;
    margin-bottom: 20px;
}

.product-price {
    font-family: "Lucida Console", "Courier New", monospace;
    float:left;
}

.cart-action {
    float: right;
}

.product-quantity {
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 15px 15px 0 15px;
    overflow: auto;
}

.cart-item-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
    text-align: center;
    clear: both;
    margin: 38px 0;
}
